.card-img-top {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.card>.wrapper,
.card>.wrapper:hover {
  color: inherit;
  text-decoration: inherit;
}

.card>.wrapper {
  padding: 10px;
  transition: transform 0.2s;
}

.card>.wrapper:hover {
  transform: scale(1.035);
}
