<nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #f5f5f5;">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/img/brand.png" width="140" height="60" alt="" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="currentUser && hasRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')">
        <a class="nav-link" routerLink="/masterdata" (click)="isMenuCollapsed = true">
          <fa-icon [icon]="faTable"></fa-icon> Stammdaten verwalten
        </a>
      </li>
      <li class="nav-item"  [hidden]="currentUser">
        <a class="nav-link" (click)="isMenuCollapsed = true" (click)="onLogin()" style="cursor: pointer;">
          <fa-icon [icon]="faLogin"></fa-icon> Login
        </a>
      </li>
      <li class="nav-item dropdown"  *ngIf="currentUser">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" (click)="isMenuCollapsed = true" role="button" aria-haspopup="true" aria-expanded="false">
          <fa-icon [icon]="faUser"></fa-icon> {{ currentUser.username }}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="onLogout()" style="cursor: pointer;">Abmelden</a>
        </div>
      </li>
      <li class="nav-item" [hidden]="!currentUser">
        <a href="#" class="nav-link" (click)="isMenuCollapsed = true" routerLink="/checkout">
          <fa-icon [icon]="faShoppingCart"></fa-icon> Warenkorb <span class="badge badge-secondary">{{ cartItems.length }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
