<div class="mb-5">
  <div class="modal-header">
    <h4 class="modal-title">Artikel ändern</h4>
    <button
      type="button"
      class="btn close"
      aria-label="Close"
      (click)="onCloseModals()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputArticleNo">Artikelnr.</label>
          <input
            type="text"
            class="form-control"
            id="inputArticleNo"
            formControlName="id"
          />
        </div>
        <div class="form-group col-md-10">
          <label for="inputArticleName">Bezeichnung</label>
          <input
            type="text"
            class="form-control"
            id="inputArticleName"
            formControlName="name"
            required
            [ngClass]="{
              invalid:
                editForm.controls.name.invalid &&
                (editForm.controls.name.dirty || editForm.controls.name.touched)
            }"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputArticlePrice">Preis</label>
          <input
            type="text"
            class="form-control"
            id="inputArticlePrice"
            formControlName="price"
            required
            [ngClass]="{
              invalid:
                editForm.controls.price.invalid &&
                (editForm.controls.price.dirty ||
                  editForm.controls.price.touched)
            }"
          />
        </div>
        <div class="form-group col-md-10">
          <label for="inputArticleCategory">Kategorie</label>
          <select
            type="text"
            class="form-control"
            id="inputArticleCategory"
            formControlName="category"
            required
            [ngClass]="{
              invalid:
                editForm.controls.category.invalid &&
                (editForm.controls.category.dirty ||
                  editForm.controls.category.touched)
            }"
          >
            <option
              *ngFor="let category of categories"
              value="{{ category.name }}"
              >{{ category.name }}</option
            >
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <img [src]="imgUrl" alt="Bild" width="200" height="300" />
        </div>
      </div>
      <div class="form-row">
        <label for="fileInputEdit">Bild ändern:</label>
        <input
          type="file"
          id="fileInputEdit"
          class="form-control-file"
          (change)="onFileChanged($event)"
        />
        <div *ngIf="!validFile" class="text-danger">Ungültige Datei</div>
      </div>
      <div class="btn-group float-right">
        <button
          type="submit"
          class="btn btn-secondary btn-danger"
          (click)="onDeleteArticle()"
        >
          <fa-icon [icon]="faTrash"></fa-icon> Löschen
        </button>
        <button
          type="submit"
          class="btn btn-secondary"
          style="background-color: #364f6b !important;"
          (click)="onUpdateArticle()"
          [disabled]="!editForm.valid"
        >
          <fa-icon [icon]="faSave"></fa-icon> Speichern
        </button>
      </div>
    </form>
  </div>
</div>
