#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 78px 0 0 0;
}

#sidebar .nav-link {
  color: dimgray;
}

#sidebar .nav-link:hover {
  background-color: lightgray;
}

.sidebar-sticky {
  position: sticky;
}
