<!-- <div class="mask flex-center" >
  <div class="d-none d-sm-block">
    <div class="row content" > -->
        <nav id="sidebar" class="bg-light">
          <div class="sidebar-header p-3">
            <h3>Bekleidung</h3>
          </div>
          <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <a href="#" class="nav-link">Hosen</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Jacken</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Hemden</a>
            </li>
          </ul>
        </nav>

      <!-- <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          ERROR: Links should be found dynamically. Use TypeScript file and angular template functionality
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Hier werden News angezeigt.</div>
          <div class="tab-pane fade" id="v-pills-pants" role="tabpanel" aria-labelledby="v-pills-pants-tab">Hier sind alle Hosen zu finden.</div>
          <div class="tab-pane fade" id="v-pills-jackets" role="tabpanel" aria-labelledby="v-pills-jackets-tab">Und hier die Jacken.</div>
          <div class="tab-pane fade" id="v-pills-shirt" role="tabpanel" aria-labelledby="v-pills-shirt-tab">Und auch noch die Hemden</div>
        </div>
      </div> -->
    <!-- </div>
  </div>
</div> -->
