.card-img-top {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.card a,
.card a:hover {
  color: inherit;
  text-decoration: inherit;
}

.card a {
  padding: 10px;
  transition: transform .2s;
}

.card a:hover {
  transform: scale(1.035);
}
