<div class="mb-5">
  <div class="modal-header">
    <h4 class="modal-title" id="create-artilce">Artikel anlegen</h4>
    <button
      type="button"
      class="btn close"
      aria-label="Close"
      (click)="onCloseModals()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputArticleNo">Artikelnr.</label>
          <input
            type="text"
            class="form-control"
            id="inputArticleNo"
            name="id"
            [value]="nextArticleId"
            disabled
          />
        </div>
        <div class="form-group col-md-10">
          <label for="inputArticleName">Bezeichnung</label>
          <input
            type="text"
            class="form-control"
            id="inputArticleName"
            name="name"
            ngModel
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputArticlePrice">Preis</label>
          <input
            type="text"
            class="form-control"
            id="inputArticlePrice"
            name="price"
            ngModel
            required
          />
        </div>
        <div class="form-group col-md-10">
          <label for="inputArticleCategory">Kategorie</label>
          <select
            type="text"
            class="form-control"
            id="inputArticleCategory"
            name="category"
            ngModel
            required
          >
            <option
              *ngFor="let category of categories"
              value="{{ category.name }}"
              >{{ category.name }}</option
            >
          </select>
        </div>
      </div>
      <!-- <div class="form-row">
        <div class="form-group col-md-12">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="inputArticleImage"
            />
            <label class="custom-file-label" for="inputArticleImage"
              >Bild auswählen</label
            >
          </div>
        </div>
      </div> -->
      <div class="btn-group float-right">
        <button
          type="submit"
          class="btn btn-secondary"
          style="background-color: #47668a !important;"
          (click)="onSaveArticle(f, true)"
        >
          <fa-icon [icon]="faPlus"></fa-icon> Weiteren hinzufügen
        </button>
        <button
          type="submit"
          class="btn btn-secondary"
          style="background-color: #364f6b !important;"
          (click)="onSaveArticle(f, false)"
        >
          <fa-icon [icon]="faSave"></fa-icon> Speichern
        </button>
      </div>
    </form>
  </div>
</div>
