<div class="mb-5">
  <div class="modal-header">
    <h4 class="modal-title" id="create-artilce">Artikel anlegen</h4>
    <button
      type="button"
      class="btn close"
      aria-label="Close"
      (click)="onCloseModals()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputArticleNo">Artikelnr.</label>
          <input
            type="text"
            class="form-control"
            id="inputArticleNo"
            formControlName="id"
            required
          />
        </div>
        <div class="form-group col-md-10">
          <label for="inputArticleName">Bezeichnung</label>
          <input
            type="text"
            class="form-control"
            id="inputArticleName"
            formControlName="name"
            [ngClass]="{
              invalid:
                addForm.controls.name.invalid &&
                (addForm.controls.name.dirty || addForm.controls.name.touched)
            }"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputArticlePrice">Preis</label>
          <input
            type="text"
            class="form-control"
            id="inputArticlePrice"
            formControlName="price"
            [ngClass]="{
              invalid:
                addForm.controls.price.invalid &&
                (addForm.controls.price.dirty || addForm.controls.price.touched)
            }"
          />
          <div
            *ngIf="
              addForm.controls.price.invalid &&
              (addForm.controls.price.dirty || addForm.controls.price.touched)
            "
          >
          <small class="text-danger">Format</small>
        </div>
        </div>
        <div class="form-group col-md-10">
          <label for="inputArticleCategory">Kategorie</label>
          <select
            type="text"
            class="form-control"
            id="inputArticleCategory"
            formControlName="category"
            [ngClass]="{
              invalid:
                addForm.controls.category.invalid &&
                (addForm.controls.category.dirty ||
                  addForm.controls.category.touched)
            }"
          >
            <option
              *ngFor="let category of categories"
              [ngValue]="category.name"
              >{{ category.name }}</option
            >
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="custom-file">
            <input
              type="file"
              id="inputArticleImage"
              formControlName="image"
              (change)="onUpload($event)"
            />
            <div
              *ngIf="downloadURL | async; let downloadSrc"
              class="alert alert-info"
              role="alert"
            >
              File uploaded: <a [href]="downloadSrc">{{ downloadSrc }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group float-right">
        <button
          type="submit"
          class="btn btn-secondary"
          style="background-color: #47668a !important;"
          (click)="onSaveArticle(true)"
          [disabled]="!addForm.valid"
        >
          <fa-icon [icon]="faPlus"></fa-icon> Weiteren hinzufügen
        </button>
        <button
          type="submit"
          class="btn btn-secondary"
          style="background-color: #364f6b !important;"
          (click)="onSaveArticle(false)"
          [disabled]="!addForm.valid"
        >
          <fa-icon [icon]="faSave"></fa-icon> Speichern
        </button>
      </div>
    </form>
  </div>
</div>
